/*
 * Import nib
 */
/*
 * Grab a custom font from Google
 */
@import url("http://fonts.googleapis.com/css?family=Quicksand");
@import "http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css";
/*
 * Nib provides a CSS reset
 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
/*
 * Store the main color and
 * background color as variables
 */
body {
  font-family: 'Georgia';
  background-color: background-color;
  color: #444;
}
header {
  font-family: 'Quicksand';
  padding: 50px 10px;
  color: #fff;
  font-size: 25px;
  text-align: center;
/*
   * Note the use of the `main-color`
   * variable and the `darken` function
   */
  background-color: #fa5b4d;
  border-bottom: 1px solid #df1806;
  text-shadow: 0px -1px 0px #df1806;
}
caption {
  text-align: center;
  font-size: 20px;
  margin: 5px;
  padding: 10px;
  text-decoration-line: underline;
}
span.texthighlight {
  background-color: #ff0;
}
span.texthighlightlinetrough {
  background-color: #ff0;
  text-decoration-line: line-through;
}
span.strikethrough {
  padding: 5px 5px;
  text-align: left;
  vertical-align: top;
  margin: 0pc;
  text-decoration-line: line-through;
}
span.yellow {
  padding: 5px 5px;
  text-align: left;
  vertical-align: top;
  margin: 0pc;
  background-color: #ffffb0;
}
span.red {
  padding: 5px 5px;
  text-align: left;
  vertical-align: top;
  margin: 0pc;
  background-color: #ffa07a;
}
span.green {
  padding: 5px 5px;
  text-align: left;
  vertical-align: top;
  margin: 0pc;
  background-color: #90ee90;
}
div .badgePM {
  display: inline-block;
  font-size: small;
  color: #000;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #c6c7cc;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 2.3em;
  width: 100%;
  margin-right: 0.8em;
  border-radius: 4px 0 0 4px;
}
div .badgeEngg {
  display: inline-block;
  font-size: small;
  color: #000;
  padding: 0.8em 0.7em 0 0.7em;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: 0.8em;
  border-radius: 4px 0 0 4px;
}
div .afterTitle {
  display: inline-block;
  font-size: small;
  color: #000;
  padding: 0.8em 0.7em 0 0.7em;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: 0.8em;
  border-radius: 4px 0 0 4px;
}
.main-content {
  float: left;
  width: 300px;
}
.main-content p {
  margin-bottom: 20px;
}
.sidebar {
  float: left;
  width: 200px;
}
.sidebar .widget {
/*
     * Note the lack of vendor
     * prefixes here. Nib will
     * add them for us
     */
  border-radius: 3px;
  border: 1px solid #ccc;
  margin-left: 20px;
  background-color: background-color;
  -webkit-box-shadow: inset 0px 0px 0px 3px rgba(255,255,255,0.8), 0px 3px 0px -2px rgba(0,0,0,0.1);
  box-shadow: inset 0px 0px 0px 3px rgba(255,255,255,0.8), 0px 3px 0px -2px rgba(0,0,0,0.1);
}
.sidebar .widget h1 {
  font-family: 'Quicksand';
  margin: 13px 10px 4px;
  padding-bottom: 10px;
  border-bottom: 1px dotted #ddd;
  border-radius: 2px 2px 0px 0px;
  margin-bottom: 10px;
}
.sidebar .widget p {
  font-size: 13px;
  padding: 0px 10px;
  margin-bottom: 10px;
}
p {
  line-height: 1.8;
}
footer {
  width: 500px;
  margin: 50px auto;
  border-top: 1px dotted #ccc;
  padding-top: 5px;
  font-size: 13px;
}
h1 {
  font-family: 'Quicksand';
  margin: 13px 10px 4px;
  padding-bottom: 10px;
  border-bottom: 1px dotted #ddd;
  border-radius: 2px 2px 0px 0px;
  margin-bottom: 10px;
  text-align: center;
  font-size: large;
  font-style: bold;
}
.dropdown-menu li:hover .sub-menu {
  visibility: visible;
}
.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}
.dropdown-menu .sub-menu {
  left: 100%;
  position: absolute;
  top: 0;
  visibility: hidden;
  margin-top: -1px;
}
